
.about-page {
  font-family: 'Georgia', serif;
  color: #c2b9b9;
  position: relative;
  min-height: 100vh;
  padding-top: 80px; 
  overflow: hidden;
}


.about-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/raphael-ai(2).jpeg") no-repeat center center/cover;
  filter: blur(8px) brightness(0.6); /* blur + darken */
  z-index: -1;
}

.about-hero,
.about-section {
  background: rgba(0, 0, 0, 0.6); 
  border-radius: 12px;
  padding: 4rem 2rem;
  background: #8f8d84; 
  color: #000;
  text-align: center;
  margin: 2rem auto;
  max-width: 900px;
}

.about-title {
  font-size: 3rem;
  color: #013220; 
  margin-bottom: 1rem;
}

.about-subtext {
  font-size: 1.2rem;
  color: #ccc;
  transform: translateY(-20px);
}

.about-section h2 {
  font-size: 2rem;
  color: #013220; 
  margin-bottom: 1rem;
}

.about-section p {
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto 2rem auto;
  color: #ddd;
  line-height: 1.6;
}

.hours-location div {
  background: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 8px;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
}

.history-card {
  max-width: 400px;
  width: 100%;
  height: auto;
  background: #1a1a1a;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  padding: 1rem;
  text-align: center;
}

.history-card img {
  display: block;
  width: 100%;
  height: 400px;  /* keeps original aspect ratio */
  border-radius: 8px;
  object-fit: contain; /* makes sure the image is not cropped */
}

.history-card h3 {
  margin: 1rem 0 0.5rem;
  font-size: 1.5rem;
  color: #cac4c4;
}

.location {
  font-size: 1.2rem;
  color: #d4af37;
  font-weight: bold;
}
